.hide {
    display: none;
}

.header {
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "leftButton title rightButton";
}

.header-title {
    grid-area: title;
    font-family: Berlin Sans FB;
    font-size: 35px;
    padding: 5px;
}

.header-button {
    margin: auto;
    font-weight: bold;
}

.header-button.left {
    grid-area: leftButton
}

.header-button.right {
    grid-area: rightButton
}

div.header-button, div.header-title {
    text-align: center;
}